.link {
    border: solid 3px #005695;
    border-radius: 20px;
    width: 17vw;
    height: 29.3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1%;
    @media (min-width: 1441px){
        width: 9.7vw;
        height: 28.7vh;
    }
    @media (max-width: 1280px){
        height: 36.6vh;
    }
    @media (max-width: 1024px){
        width: 20vw;
    }
    @media (max-width: 768px){
        width: 40vw;         
    }
    @media (max-width: 425px){
        width: 40vw;
        margin: 2.7%;            
    }
    @media (max-width: 390px){
        width: 60vw;           
    }
    img {
        width: 7.5vw;
        @media (min-width: 1441px){
            width: 4.5vw;
        }
        @media (max-width: 1024px){
            width: 10vw;
        }
        @media (max-width: 768px){
            width: 14vw;    
        }
        @media (max-width: 425px){
            width: 28vw;        
        }
        @media (max-width: 390px){
            width: 32vw;        
        }
    }
}

.info {
    text-align: center;
    width: 80%;
    @media (max-width: 425px){
        width: 90%;           
    }
    p {
        padding: 1%;
        @media (max-width: 390px){
            font-size: 16px;
        }
    }
}